<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="diagnos.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


    <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="expedientes.html">Expedientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Pacientes.html">Paciente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="estudio.html">Estudio Socioeconomico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="historia.html">Historial Longitudinal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="diagnos.html">Diagnostico Social</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tratam.html">Plan de Tratamiento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="engreso.html">Plan de Engreso</a>
            </li>
        </ul>
    </nav>

    <div id="div1-1" class="container" style="padding: 70px;">
        <h2>Buscar paciente:</h2>
        <form class="form-inline" action="/action_page.php">
            <input type="text" class="form-control mb-2 mr-sm-2" id="id#" placeholder="Identificador" name="id#">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Nmb" placeholder="Nombre" name="Nmb">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape1" placeholder="Primer Apellido" name="Ape1">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape2" placeholder="Segundo Apellido" name="Ape2">
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
    </div>

    <div id="div1-2" class="container" style="padding: 1px;">
	<h2 id="afa">Buscar paciente:</h2>
    <form class="form-inline" action="/action_page.php">
		<div id="1-2" class="container" style="padding: 70px;">
		<h2>Ubicación de las etapas de cambio:</h2>
        <form class="form-inline" action="/action_page.php">
		
		<label for="ced#" class="mb-2 mr-sm-2">Pre contemplación:</label>	
		<input id="inp-PreContemp"type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">
		<label for="ced#" class="mb-2 mr-sm-2">Contemplación:</label>
		<input id="inp-Contemp" type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">
		
		<label for="ced#" class="mb-2 mr-sm-2">Determinación:</label>
        <input id="inp-Determ" type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">
		
		<label for="ced#" class="mb-2 mr-sm-2">Acción:</label>
		<input id="inp-Acc" type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">
		
		<label for="ced#" class="mb-2 mr-sm-2">Mantenimiento:</label>
        <input id="inp-Mantenim" type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">
		
		<button id="btn-Save" type="submit" class="btn btn-primary mb-2">Guardar</button>
                </form>
            </div>
	</div>
	<div id="div3-1" class="container" style="padding: 1px;">
                <h2>Consumo de sustancias psicoactivas:</h2>
                <form class="form-inline" action="/action_page.php">

                    <label for="ced#" class="mb-2 mr-sm-2">Diario:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

                    <label for="ced#" class="mb-2 mr-sm-2">Semanal:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

                    <label for="ced#" class="mb-2 mr-sm-2">Ocasional:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

                    <button type="submit" class="btn btn-primary mb-2">Guardar</button>
                </form>
    </div>
	
	<div id="div4-1">
	<label for="ced#" class="mb-2 mr-sm-2">¿Qué tipo de consumo presenta, si es Diario, Semanal, Ocasional de sustancias psicoactivas?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Cuál es la Patología Psiquiátrica recurrente? Indique según documento</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Existe Violencia Intrafamiliar?:</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Existe problemática judicial asociada? Indique según documento</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Ha presentado pérdida de empleos o inestabilidad laboral?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">Mencione si existe abandono o deterioro de la relación y cuidado de los hijos/pareja y/o familia</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Existen relaciones interpersonales e intrapersonales en deterioro?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Presenta otras enfermedades colaterales?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Presenta autoestima baja?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Cómo se describe la situación de adicción; habitante de calle, con familiares, alquila?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿ Ha tenido pérdida de bienes materiales personales?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Presenta otros?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">


            <label for="Ape1.1" class="mb-2 mr-sm-2">Se determina un deterioro: </label>
            <select name="cars" class="custom-select">
                <option selected> Seleccionar</option>
                <option value="Leve">Leve</option>
                <option value="Moderado">Moderado</option>
                <option value="Severo">Severo</option>
            </select>

            <label for="ced#" class="mb-2 mr-sm-2">Recomendaciones para plan de tratamiento:</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">
	</div>
	<button id="btn-Save2" type="submit" class="btn btn-primary mb-2">Guardar</button>
        </form>
    </div>
</body>
</html>