

    <div class="container" style="padding: 70px;">
        <h2>Buscar paciente:</h2>
        <form class="form-inline" action="/action_page.php">
            <input type="text" class="form-control mb-2 mr-sm-2" id="id#" placeholder="Identificador" name="id#">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Nmb" placeholder="Nombre" name="Nmb">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape1" placeholder="Primer Apellido" name="Ape1">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape2" placeholder="Segundo Apellido" name="Ape2">
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
    </div>

    <div class="container" style="padding: 1px;">
        <h2>Buscar paciente:</h2>
        <form class="form-inline" action="/action_page.php">

            <div class="container" style="padding: 70px;">
                <h2>Ubicación de las etapas de cambio:</h2>
                <form class="form-inline" action="/action_page.php">

                    <label for="ced#" class="mb-2 mr-sm-2">Pre contemplación:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

                    <label for="ced#" class="mb-2 mr-sm-2">Contemplación:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

                    <label for="ced#" class="mb-2 mr-sm-2">Determinación:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

                    <label for="ced#" class="mb-2 mr-sm-2">Acción:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

                    <label for="ced#" class="mb-2 mr-sm-2">Mantenimiento:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

                    <button type="submit" class="btn btn-primary mb-2">Guardar</button>
                </form>
            </div>

            <div class="container" style="padding: 1px;">
                <h2>Consumo de sustancias psicoactivas:</h2>
                <form class="form-inline" action="/action_page.php">

                    <label for="ced#" class="mb-2 mr-sm-2">Diario:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

                    <label for="ced#" class="mb-2 mr-sm-2">Semanal:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

                    <label for="ced#" class="mb-2 mr-sm-2">Ocasional:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

                    <button type="submit" class="btn btn-primary mb-2">Guardar</button>
                </form>
            </div>

            <label for="ced#" class="mb-2 mr-sm-2">¿Qué tipo de consumo presenta, si es Diario, Semanal, Ocasional de sustancias psicoactivas?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Cuál es la Patología Psiquiátrica recurrente? Indique según documento</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Existe Violencia Intrafamiliar?:</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Existe problemática judicial asociada? Indique según documento</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Ha presentado pérdida de empleos o inestabilidad laboral?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">Mencione si existe abandono o deterioro de la relación y cuidado de los hijos/pareja y/o familia</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Existen relaciones interpersonales e intrapersonales en deterioro?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Presenta otras enfermedades colaterales?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Presenta autoestima baja?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Cómo se describe la situación de adicción; habitante de calle, con familiares, alquila?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿ Ha tenido pérdida de bienes materiales personales?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">¿Presenta otros?</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">


            <label for="Ape1.1" class="mb-2 mr-sm-2">Se determina un deterioro: </label>
            <select name="cars" class="custom-select">
                <option selected> Seleccionar</option>
                <option value="Leve">Leve</option>
                <option value="Moderado">Moderado</option>
                <option value="Severo">Severo</option>
            </select>

            <label for="ced#" class="mb-2 mr-sm-2">Recomendaciones para plan de tratamiento:</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">

            <button type="submit" class="btn btn-primary mb-2">Guardar</button>
        </form>
    </div>
