

    <div class="container" style="padding: 70px;">
        <h2>Buscar paciente:</h2>
        <form class="form-inline" action="/action_page.php">
            <input type="text" class="form-control mb-2 mr-sm-2" id="id#" placeholder="Identificador" name="id#">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Nmb" placeholder="Nombre" name="Nmb">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape1" placeholder="Primer Apellido" name="Ape1">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape2" placeholder="Segundo Apellido" name="Ape2">
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
    </div>

    <div class="container" style="padding: 70px;">
        <h5>Plan de Egreso:</h5>
        <form class="form-inline" action="/action_page.php">

            <label for="ced#" class="mb-2 mr-sm-2">
                Fortalezas del Usuario al ingresar al tratamiento
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Oportunidades del Usuario al ingresar al tratamiento
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Debilidades del Usuario al ingresar al tratamiento
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Amenazas del Usuario al ingresar al tratamiento
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
    </div>

    <div class="container" style="padding: 70px;">
        <h5>Etapas:</h5>
        <form class="form-inline" action="/action_page.php">

            <label for="Ape1.1" class="mb-2 mr-sm-2">Etapas: </label>
            <select name="cars" class="custom-select">
                <option selected> Seleccionar</option>
                <option value="Etapa 1">Etapa 1</option>
                <option value="Etapa 2">Etapa 2</option>
                <option value="Etapa 3">Etapa 3</option>
            </select>

            <label for="ced#" class="mb-2 mr-sm-2">
                Física y de salud
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <h6>Redes de apoyo</h6>

            <label for="ced#" class="mb-2 mr-sm-2">
                Familiar
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Amistades
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Grupo de apoyo
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Areas Laboral
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Área Judicial
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Área Académica o técnica
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">



            <button type="submit" class="btn btn-primary mb-2">Guardar</button>
        </form>
    </div>

    <div class="container" style="padding: 70px;">
        <h5>Proyecto de vida:</h5>
        <form class="form-inline" action="/action_page.php">

            <label for="ced#" class="mb-2 mr-sm-2">
                Fortalezas del Usuario al ingresar al tratamiento
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Oportunidades del Usuario al ingresar al tratamiento
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Debilidades del Usuario al ingresar al tratamiento
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Amenazas del Usuario al ingresar al tratamiento
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Objetivo de vida al egresar
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">
            <label for="ced#" class="mb-2 mr-sm-2">
                Metas
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">
            <label for="ced#" class="mb-2 mr-sm-2">
                Tareas
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">

            <label for="ced#" class="mb-2 mr-sm-2">
                Seguimiento del tratamiento fuera del centro
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">
            <label for="ced#" class="mb-2 mr-sm-2">
                Actividades de ocio o tiempo libre
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">
            <label for="ced#" class="mb-2 mr-sm-2">
                Acuerdos tomados en última sesión familiar en conjunto con el usuario
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Descripción" name="ced#">


            <button type="submit" class="btn btn-primary mb-2">Guardar</button>
        </form>
    </div>
    
