<!DOCTYPE html>
<html lang="en">
<head>
  <title>Estudio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="estudio.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="expedintes.html">Expedientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Pacientes.html">Paciente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="estudio.html">Estudio Socioeconomico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="historia.html">Historial Longitudinal</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="diagnos.html">Diagnostico Social</a>
              </li>
          <li class="nav-item">
                    <a class="nav-link" href="tratam.html">Plan de Tratamiento</a>
                  </li>
          <li class="nav-item">
                        <a class="nav-link" href="engreso.html">Plan de Engreso</a>
                      </li>
        </ul>
</nav>

<div class="container">

    <!--selesccionar paciente-->
    <div class="container" style="padding: 70px;">
        <h2>Buscar paciente:</h2>
        <form class="form-inline" action="/action_page.php">
            <input type="text" class="form-control mb-2 mr-sm-2" id="id#" placeholder="Identificador" name="id#">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Nmb" placeholder="Nombre" name="Nmb">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape1" placeholder="Primer Apellido" name="Ape1">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape2" placeholder="Segundo Apellido" name="Ape2">
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
    </div>
	
	<div id="div1-1">
	<input size="16" type="text" class="form-control" id="datetime" readonly>

    <div class="conteiner">
        <input type="radio" id="ingreso" name="example2">
        <label for="defaultRadio">Ingreso</label>

        <input type="radio" id="salario" name="example2">
        <label for="defaultRadio">Salario</label>

        <input type="text" class="form-control mb-2 mr-sm-2" id="monto" placeholder="Monto" name="id#">
    </div>

    <label for="nomb" class="mb-2 mr-sm-2">Pension Alimenticia (Opcional)</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="PensionAlimento" placeholder="Monto" name="nomb">

    <label for="nomb" class="mb-2 mr-sm-2"> Engresos</label>
    <select name="cars" class="custom-select">
        <option selected> Seleccionar</option>
        <option value="Agua">Agua</option>
        <option value="Electricidad">Electricidad</option>
        <option value="Alquiler">Alquiler</option>
        <option value="Telefono">Telefono </option>
        <option value="Internet">Internet </option>
        <option value="Deudas">Deudas</option>
    </select>

    <label for="nomb" class="mb-2 mr-sm-2"> Vivienda</label>
    <select name="cars" class="custom-select">
        <option selected> Seleccionar</option>
        <option value="Propia">Propia</option>
        <option value="Alquilada">Alquilada</option>
    </select>
	</div>

    

    <div id="div2-1" class="container" style="padding: 70px;">
        <h2>Grupo Familiar</h2>
        <form class="form-inline" action="/action_page.php">
            <input type="text" class="form-control mb-2 mr-sm-2" id="id#" placeholder="Nombre Completo" name="id#">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Nmb" placeholder="Relación" name="Nmb">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape1" placeholder="Escolaridad" name="Ape1">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape2" placeholder="Ocupación" name="Ape2">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape2" placeholder="Ingresos" name="Ape2">
            <button type="submit" class="btn btn-primary mb-2">Agregar a lista</button>
        </form>
    </div>

    <div id="div3-1">
	<label for="nomb" class="mb-2 mr-sm-2">Otros ingresos familiares:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="otrosIngresos" placeholder="Monto" name="nomb">

    <label for="nomb" class="mb-2 mr-sm-2">Ingresos per Cápita:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="ingPerCapita" placeholder="Monto" name="nomb">

    <label for="nomb" class="mb-2 mr-sm-2">Aporte Económico:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="aporteEconomico" placeholder="Monto" name="nomb">

    <label for="nomb" class="mb-2 mr-sm-2">Nombre del responsable:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="responsable" placeholder="Monto" name="nomb">

    <label for="nomb" class="mb-2 mr-sm-2">Nombre del profesional en trabajo social:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="profesional" placeholder="Monto" name="nomb">
	</div>

    </form>
</div>


  </div>
</body>
</html>