

<div class="container">

    <!--selesccionar paciente-->
    <div class="container" style="padding: 70px;">
        <h2>Buscar paciente:</h2>
        <form class="form-inline" action="/action_page.php">
            <input type="text" class="form-control mb-2 mr-sm-2" id="id#" placeholder="Identificador" name="id#">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Nmb" placeholder="Nombre" name="Nmb">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape1" placeholder="Primer Apellido" name="Ape1">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape2" placeholder="Segundo Apellido" name="Ape2">
            <button type="submit" class="btn btn-primary mb-2">Buscar</button>
        </form>
    </div>

    <input size="16" type="text" class="form-control" id="datetime" readonly>

    <div class="conteiner">
        <input type="radio" id="defaultRadio" name="example2">
        <label for="defaultRadio">Ingreso</label>

        <input type="radio" id="defaultRadio" name="example2">
        <label for="defaultRadio">Salario</label>

        <input type="text" class="form-control mb-2 mr-sm-2" id="id#" placeholder="Monto" name="id#">
    </div>

    <label for="nomb" class="mb-2 mr-sm-2">Pension Alimenticia (Opcional)</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="nomb" placeholder="Monto" name="nomb">

    <label for="nomb" class="mb-2 mr-sm-2"> Engresos</label>
    <select name="cars" class="custom-select">
        <option selected> Seleccionar</option>
        <option value="Agua">Agua</option>
        <option value="Electricidad">Electricidad</option>
        <option value="Alquiler">Alquiler</option>
        <option value="Telefono">Telefono </option>
        <option value="Internet">Internet </option>
        <option value="Deudas">Deudas</option>
    </select>

    <label for="nomb" class="mb-2 mr-sm-2"> Vivienda</label>
    <select name="cars" class="custom-select">
        <option selected> Seleccionar</option>
        <option value="Propia">Propia</option>
        <option value="Alquilada">Alquilada</option>
    </select>

    <div class="container" style="padding: 70px;">
        <h2>Grupo Familiar</h2>
        <form class="form-inline" action="/action_page.php">
            <input type="text" class="form-control mb-2 mr-sm-2" id="id#" placeholder="Nombre Completo" name="id#">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Nmb" placeholder="Relación" name="Nmb">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape1" placeholder="Escolaridad" name="Ape1">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape2" placeholder="Ocupación" name="Ape2">
            <input type="text" class="form-control mb-2 mr-sm-2" id="Ape2" placeholder="Ingresos" name="Ape2">
            <button type="submit" class="btn btn-primary mb-2">Agregar a lista</button>
        </form>
    </div>

    <label for="nomb" class="mb-2 mr-sm-2">Otros ingresos familiares:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="nomb" placeholder="Monto" name="nomb">

    <label for="nomb" class="mb-2 mr-sm-2">Ingresos per Cápita:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="nomb" placeholder="Monto" name="nomb">

    <label for="nomb" class="mb-2 mr-sm-2">Aporte Económico:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="nomb" placeholder="Monto" name="nomb">

    <label for="nomb" class="mb-2 mr-sm-2">Nombre del responsable:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="nomb" placeholder="Monto" name="nomb">

    <label for="nomb" class="mb-2 mr-sm-2">Nombre del profesional en trabajo social:</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="nomb" placeholder="Monto" name="nomb">

