<!DOCTYPE html>
<html lang="en">
<head>
  <title>Log In</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  
<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Expedientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Paciente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Estudio Socioeconomico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Historial Longitudinal</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="#">Diagnostico Social</a>
              </li>
          <li class="nav-item">
                    <a class="nav-link" href="#">Plan de Tratamiento</a>
                  </li>
          <li class="nav-item">
                        <a class="nav-link" href="#">Plan de Engreso</a>
                      </li>
        </ul>
      </nav>

   <div class="container">

     <!--selesccionar paciente-->
      <div class="container" style="padding: 70px;"> 
        <h2>Buscar paciente:</h2>
      <form class="form-inline" action="/action_page.php">
       <input type="text" class="form-control mb-2 mr-sm-2" id="id#" placeholder="Identificador" name="id#">
       <input type="text" class="form-control mb-2 mr-sm-2" id="Nmb" placeholder="Nombre" name="Nmb">
       <input type="text" class="form-control mb-2 mr-sm-2" id="Ape1" placeholder="Primer Apellido" name="Ape1"> 
       <input type="text" class="form-control mb-2 mr-sm-2" id="Ape2" placeholder="Segundo Apellido" name="Ape2"> 
       <button type="submit" class="btn btn-primary mb-2">Buscar</button>
       </form>
     </div>  
     
   </div>
     
      


</body>
</html>
