
<div class="container">

  <div class="container" style="padding: 70px;"> 
     <h2>Buscar paciente:</h2>
   <form class="form-inline" action="/action_page.php">
    <input type="text" class="form-control mb-2 mr-sm-2" id="id#" placeholder="Identificador" name="id#">
    <input type="text" class="form-control mb-2 mr-sm-2" id="Nmb" placeholder="Nombre" name="Nmb">
    <input type="text" class="form-control mb-2 mr-sm-2" id="Ape1" placeholder="Primer Apellido" name="Ape1"> 
    <input type="text" class="form-control mb-2 mr-sm-2" id="Ape2" placeholder="Segundo Apellido" name="Ape2"> 
    <button type="submit" class="btn btn-primary mb-2">Buscar</button>
    </form>
  </div>

  <div class="container">
    <form class="form-inlin" action="/action_page.php">

      <label for="nomb" class="mb-2 mr-sm-2">Nombre Completo:</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="nomb" placeholder="Nombre Completo" name="nomb">

      <label for="Ape1.1" class="mb-2 mr-sm-2">Primer Apellido:</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="Ape1.1" placeholder="Primer Apellido" name="Ape1.1">
     
      <form class="form-inline" action="/action_page.php" style="position: center">

          <label for="Ape2.2" class="mb-2 mr-sm-2">Segundo Apellido:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="ape2.2" placeholder="Segundo Apellido" name="ape2.2">

          <label for="ced#" class="mb-2 mr-sm-2">Cedula:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Cedula" name="ced#">

          <label for="fdn#" class="mb-2 mr-sm-2">Fecha de Nacimiento:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha de Nacimiento" name="ced#">

          <label for="nomb" class="mb-2 mr-sm-2"> Estado Cvil:</label>
          <select name="cars" class="custom-select">
              <option selected> Seleccionar</option>
              <option value="Casado">Casado</option>
              <option value="Soltero">Soltero</option>
              <option value="Divorciado">Divorciado</option>
              <option value="Unión Libre">Unión Libre</option>
              <option value="Separado">Separado</option>
              <option value="Viudo">Viudo</option>
              <option value="Comprometido">Comprometido</option>
          </select>

          <label for="Ape1.1" class="mb-2 mr-sm-2">Hijos:</label>
          <select name="cars" class="custom-select">
              <option selected> Seleccionar</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
          </select>

          <label for="Ape2.2" class="mb-2 mr-sm-2">Procedencia:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="ape2.2" placeholder="Procedencia" name="ape2.2">

          <label for="ced#" class="mb-2 mr-sm-2">Ocupacion:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Ocupacio" name="ced#">

          <label for="nomb" class="mb-2 mr-sm-2">Nacionalidad:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="nomb" placeholder="Nacionalida" name="nomb">

          <label for="Ape1.1" class="mb-2 mr-sm-2">Estatura:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="Ape1.1" placeholder="Estatura" name="Ape1.1">

          <label for="Ape2.2" class="mb-2 mr-sm-2">Peso:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="ape2.2" placeholder="Peso" name="ape2.2">

          <label for="nomb" class="mb-2 mr-sm-2">Ojos:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="nomb" placeholder="Ojos" name="nomb">

          <label for="Ape1.1" class="mb-2 mr-sm-2">Piel:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="Ape1.1" placeholder="Piel" name="Ape1.1">

          <label for="Ape2.2" class="mb-2 mr-sm-2">Cabello:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="ape2.2" placeholder="Cabello" name="ape2.2">

          <label for="ced#" class="mb-2 mr-sm-2">Fecha de Ingreso al Sistema:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="ced#" placeholder="Fecha" name="ced#">
          <!--<input size="16" type="text" class="form-control" id="datetime" readonly>
          <script type="text/javascript">
              $("#datetime").datetimepicker({
                  format: 'yyyy-mm-dd hh:ii',
                  autoclose: true,
                  todayBtn: true
              });
          </script>-->

          <div class="container">
              <button type="submit" class="btn btn-primary mb-2">Submit</button>
              <button type="submit" class="btn btn-primary mb-2">Modificart</button>
          </div>
      </form>
        </form>
  </div>

    <script>
        var nombre = document.getElementById("nomb");

    </script>
</div>

