#PlanEgreso {
	position : absolute;
	margin-top : -140px;
}

#div1-1 {
	position : absolute;
	margin-top : -91px;
	padding-top : 5px;
}

#div1-2 {
	position : absolute;
	margin-top : -40px;
	padding-top : 5px;
}

#div1-3 {
	position : absolute;
	margin-top : 11px;
	padding-top : 5px;
}

#div1-4 {
	position : absolute;
	margin-top : 62px;
	padding-top : 5px;
}


#btnGuardarPlanEgreso {
    position: absolute;
    margin-top: 110px;
    margin-left: 500px;
}

#FortalezasUsuario {
    display: inline;
    padding-right: 35px;
}

#OpoIngreTratam {
    display: inline;
}

#debilidadTratam {
    display: inline;
    padding-right: 23px;
}

#AmenazasTratam {
    display: inline;
    padding-right: 35px;
}

#div2-1 {
	position : absolute;
	padding-top : 5px;
	padding-bottom : 5px;
	margin-top : 16px;
}

#div2-2 {
	position : absolute;
	padding-top : 5px;
	padding-bottom : 5px;
	margin-top : 68px;
}

#Redes-Apoyo {
	position : absolute;
	margin-top : 124px;
	padding-top : 5px;
	padding-bottom : 5px;
}

#div2-3 {
	position : absolute;
	margin-top : 167px;
	padding-top : 5px;
	padding-bottom : 5px;
}

#amistades {
    position: absolute;
    margin-top: 223px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#div2-5 {
	position : absolute;
	margin-top : 279px;
	padding-top : 5px;
	padding-bottom : 5px;
}

#div2-6 {
	position : absolute;
	margin-top : 334px;
	padding-top : 5px;
	padding-bottom : 5px;
}

#div2-7 {
	position : absolute;
	margin-top : 390px;
	padding-top : 5px;
	padding-bottom : 5px;
}

#div2-8 {
	position : absolute;
	margin-top : 446px;
	padding-top : 5px;
	padding-bottom : 5px;
}

#btn-Save2 {
	position : absolute;
	margin-left : 500px;
	margin-top : 500px;
	padding-bottom : 5px;
}



#EtapasEgreso {
    display: inline;
    padding-right: 67px;
}

#FisicaSalud {
    display: inline;
}

#fam {
    display: inline;
    padding-right: 62px;
}


#amistades {
    display: inline;
    padding-right: 42px;
}

#gruApoyo {
    display: inline;
}

#areaLaboral {
    display: inline;
    padding-right: 20px;
}

#areaJudicial {
    display: inline;
    padding-right: 28px;
}

#areaAcadeTec {
    display: inline;
}

#ProyectVida {
	position : absolute;
	margin-top: 400px;
	padding-bottom : 5px;
	padding-top : 5px;
}

#div3-1 {
	
	position : absolute;
	margin-top : 462px;
	padding-bottom : 5px;
	padding-top : 5px;
}

#div3-2 {
	
	position : absolute;
	margin-top : 518px;
	padding-bottom : 5px;
	padding-top : 5px;	
}

#div3-3 {
	
	position : absolute;
	margin-top : 574px;
	padding-bottom : 5px;
	padding-top : 5px;
}

#div3-4 {
	
	position : absolute;
	margin-top : 630px;
	padding-bottom : 5px;
	padding-top : 5px;
}

#div3-5 {
	
	position : absolute;
	margin-top : 686px;
	padding-bottom : 5px;
	padding-top : 5px;
}

#div3-6 {
	
	position : absolute;
	margin-top : 742px;
	padding-bottom : 5px;
	padding-top : 5px;
}

#div3-7 {
	
	position : absolute;
	margin-top : 798px;
	padding-bottom : 5px;
	padding-top : 5px;
}

#div3-8 {
	
	position : absolute;
	margin-top : 854px;
	padding-bottom : 5px;
	padding-top : 5px;
}

#div3-9 {
	position : absolute;
	margin-top : 910px;
	padding-bottom : 5px;
	padding-top : 5px;
}

#div3-10 {
	position : absolute;
	margin-top : 966px;
	padding-bottom : 5px;
	padding-top : 5px;
}

#btn-Save3 {
	position : absolute;
	margin-top : 1025px;
	margin-left : 500px;
}

#fortaUsuarioIng {
    display: inline;
}

#OportIngTratam {
    display: inline;
}

#debIngreTratam {
    display: inline;
}

#amenzIngTratam {
    display: inline;
}

#ObjVidaEgre {
    display: inline;
}

#metas {
    display: inline;
}

#tareas {
    display: inline;
}

#seguimientoFuera {
    display: inline;
}

#ocioTmpLibre {
    display: inline;
}

#sesionFamiliar {
    display: inline;
}