body {
	background-color : white;
}

#lbl-1 {
	display : inline;
	padding-right : 4px;
}

#lbl-2 {
	display : inline;
	padding-right : 4px;
}

#lbl-3 {
	display : inline;
	padding-right : 4px;
}

#lbl-4 {
	display : inline;
	padding-right : 4px;
}

#lbl-5 {
	display : inline;
	padding-right : 4px;
}

#lbl-6 {
	display : inline;
	padding-right : 4px;
}

#lbl-7 {
	display : inline;
	padding-right : 4px;
}

#lbl-8 {
	display : inline;
	padding-right : 4px;
}

#lbl-9 {
	display : inline;
	padding-right : 4px;
}

#lbl-10 {
	display : inline;
	padding-right : 4px;
}

#lbl-11 {
	display : inline;
	padding-right : 4px;
}

#lbl-12 {
	display : inline;
	padding-right : 4px;
}

#lbl-13 {
	display : inline;
	padding-right : 4px;
}

#lbl-14 {
	display : inline;
	padding-right : 4px;
}

#lbl-15 {
	display : inline;
	padding-right : 4px;
}

#lbl-16 {
	display : inline;
	padding-right : 4px;
}

label {
	display : inline;
}

#lbl2-1 {
	display : inline;
	padding-right : 4px;
}

#lbl2-2 {
	display : inline;
	padding-right : 4px;
}

#lbl2-3 {
	display : inline;
	padding-right : 4px;
}

#lbl2-4 {
	display : inline;
	padding-right : 4px;
}

#lbl2-5 {
	display : inline;
	padding-right : 4px;
}

#lbl2-6 {
	display : inline;
	padding-right : 4px;
}

#lbl2-7 {
	display : inline;
	padding-right : 4px;
}

#lbl3-122 {
	display : inline;
	padding-right : 4px;
}

#lbl3-0 {
	display : inline;
	padding-right : 4px;
}

#lbl3-0038 {
	display : inline;
	padding-right : 4px;
	font-weight : bold;
	font-style : italic;
}

#lbl3-00 {
	display : inline;
	padding-right : 4px;
}

#lbl3-01 {
	display : inline;
	padding-right : 4px;
}

#lbl3-02 {
	display : inline;
	padding-right : 4px;
}

#lbl3-03 {
	display : inline;
	padding-right : 4px;
}

#lbl3-04 {
	display : inline;
	padding-right : 4px;
}

#lbl3-05 {
	display : inline;
	padding-right : 4px;
}

#lbl3-06 {
	display : inline;
	padding-right : 4px;
}

#lbl3-07 {
	display : inline;
	padding-right : 4px;
}

#lbl3-08 {
	display : inline;
	padding-right : 4px;
}

#lbl3-09 {
	display : inline;
	padding-right : 4px;
}

#lbl3-04 {
	display : inline;
	padding-right : 4px;
}

#lbl3-010 {
	display : inline;
	padding-right : 4px;
}

#lbl3-011 {
	display : inline;
	padding-right : 4px;
}

#lbl3-012 {
	display : inline;
	padding-right : 4px;
}

#lbl3-013 {
	display : inline;
	padding-right : 4px;
}

#lbl3-014 {
	display : inline;
	padding-right : 4px;
}

#lbl3-015 {
	display : inline;
	padding-right : 4px;
}


#lbl3-020 {
	display : inline;
	padding-right : 4px;
}

#lbl3-021 {
	display : inline;
}

#lbl3-022 {
	display : inline;
}

#lbl3-023 {
	display : inline;
}

#lbl3-024 {
	display : inline;
}

#lbl3-025 {
	display : inline;
	padding-right : 4px;
}

#lbl3-026 {
	display : inline;
	padding-right : 4px;
}

#lbl3-027 {
	display : inline;
	padding-right : 4px;
	
}

#lbl3-028 {
	display : inline;
	padding-right : 4px;
	width : 190px;
}

#lbl3-029 {
	display : inline;
	padding-right : 4px;
	width : 190px;
}

#lbl3-030 {
	display : inline;
	padding-right : 4px;
}


#lbl3-031 {
	display : inline;
	padding-right : 4px;
}

#lbl3-032 {
	display : inline;
	padding-right : 4px;
}

#lbl3-033 {
	display : inline;
	padding-right : 4px;
}

#lbl3-034 {
	display : inline;
	padding-right : 4px;
}

#lbl3-036 {
	display : inline;
	padding-right : 4px;
}

#lbl3-037 {
	display : inline;
	padding-right : 4px;
}

#lbl3-035 {
	display : inline;
	padding-right : 4px;
}

#cb2 {
	background-color : yellow;
	display : inline;
	padding-right : 4px;
}

#lbl99 {
	background-color : yellow;
	display : inline;
	padding-right : 4px;
}

#cb7{
	background-color : green;
	display : inline;
}

#testo {
	display : inline;
}

#lbl3-06 {
	display : inline;
	padding-right : 4px;
}

#lbl3-07 {
	display : inline;
	padding-right : 4px;
}

#lbl3-08 {
	display : inline;
	padding-right : 4px;
}

#lbl3-09	 {
	display : inline;
	padding-right : 4px;
}

#lbl3-010	 {
	display : inline;
	padding-right : 4px;
}

#lbl3-011 {
	display : inline;
	padding-right : 4px;
}

#lbl5-1 {
	display : inline;
	padding-right : 4px;
}

#lbl5-2 {
	display : inline;
	padding-right : 4px;
}

#lbl5-3 {
	display : inline;
	padding-right : 4px;
}

#lbl5-4 {
	display : inline;
	padding-right : 4px;
}

#lbl5-5 {
	display : inline;
	padding-right : 4px;
}

#lbl5-6 {
	display : inline;
	padding-right : 4px;
}

#lbl5-7 {
	display : inline;
	padding-right : 4px;
}

#lbl5-8 {
	display : inline;
	padding-right : 4px;
}

#lbl5-9 {
	display : inline;
	padding-right : 4px;
}

#lbl5-10 {
	display : inline;
	padding-right : 4px;
}

#lbl5-11 {
	display : inline;
	padding-right : 4px;
}

#lbl5-12 {
	display : inline;
	padding-right : 4px;
}

#lbl5-13 {
	display : inline;
	padding-right : 4px;
}

#lbl6-1 {
	display : inline;
	padding-right : 4px;
}

#lbl6-2 {
	display : inline;
	padding-right : 4px;
}

#lbl6-3 {
	display : inline;
	padding-right : 4px;
}

#lbl6-4 {
	display : inline;
	padding-right : 4px;
}

#lbl6-5 {
	display : inline;
	padding-right : 4px;
}

#lbl6-6 {
	display : inline;
	padding-right : 4px;
}

#lbl6-7 {
	display : inline;
	padding-right : 4px;
}

#lbl6-8 {
	display : inline;
	padding-right : 4px;
}

#lbl6-9 {
	display : inline;
	padding-right : 4px;
}

#lbl6-10 {
	display : inline;
	padding-right : 4px;
}

#lbl6-11 {
	display : inline;
	padding-right : 4px;
}

#lbl6-12 {
	display : inline;
	padding-right : 4px;
}

#lbl6-13 {
	display : inline;
	padding-right : 4px;
}

#lbl6-14 {
	display : inline;
	padding-right : 4px;
}

#lbl6-15 {
	display : inline;
	padding-right : 4px;
}

#lbl6-16 {
	display : inline;
	padding-right : 4px;
}

#lbl6-17 {
	display : inline;
	padding-right : 4px;
}

#lbl6-18 {
	display : inline;
	padding-right : 4px;
}

#lbl6-19 {
	display : inline;
	padding-right : 4px;
}

#lbl6-20 {
	display : inline;
	padding-right : 4px;
}

#lbl6-21 {
	display : inline;
	padding-right : 4px;
}

#lbl6-22 {
	display : inline;
	padding-right : 4px;
}

#lbl6-23 {
	display : inline;
	padding-right : 4px;
}

#lbl6-24 {
	display : inline;
	padding-right : 4px;
}

#lbl6-25 {
	display : inline;
	padding-right : 4px;
}

#lbl6-26 {
	display : inline;
	padding-right : 4px;
}

#div-buscador {
	height : 10px;
	width : 1050px;
	margin-top : -60px;
	margin-left : -16px;
}

#div-name {
	margin-left : 55px;
	width : 1108px;
}

#lmap {
	margin-left : 55px;
	width : 1108px;
}

#div-1 {
	padding-right: 10px;
	margin-top : 500px;
	top : -278px;
	position : absolute;
	display : block;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-2 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : 500px;
	top : -230px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-4 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top: 500px;
	top : -182px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-5 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : 500px;
	top : -134px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-6 {
	padding-right : 10px;
	padding-top : 5px;
	padding-bottom : 5px;
	position : absolute;
	display : block;
	margin-top : 500px;
	top : -86px;
	padding-left : 3px;
}

#div-7 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : -166px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-8 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : -118px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-9 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : -66px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-10 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : -10px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-11 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : 42px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-12 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : 90px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-13 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : 138px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-14 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : 186px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-15 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : 234px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-16 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : 282px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#div-17 {
	padding-right : 10px;
	position : absolute;
	display : block;
	margin-top : 500px;
	top : 460px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

#btn_save {
	margin-left : 450px;
	margin-top : 800px;
	top : 500px;
	margin-bottom : 100px;
	bottom : -800px;
	
}

#div2-1 {
	position : absolute;
	margin-top : 500px;
	top : 658px;
	margin-left : 54px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	margin-left : 54px;
}


#div2-2 {
	position : absolute;
	margin-top : 500px;
	top : 706px;
	margin-left : 54px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div2-3 {
	position : absolute;
	margin-top : 500px;
	top : 754px;
	margin-left : 54px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div2-4 {
	position : absolute;
	margin-top : 500px;
	top : 802px;
	margin-left : 54px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div2-5 {
	position : absolute;
	margin-top : 500px;
	top : 858px;
	margin-left : 54px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div2-6 {
	position : absolute;
	margin-top : 500px;
	top : 906px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	margin-left : 54px;
}

#div2-7 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 954px;
	margin-top : 500px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	margin-left : 54px;
}

#div2-8 {
	/*background-color : yellow;*/
	position : relative;
	display : block;
	left : 500px;
	padding-top : 10px;
	top : -150px;
	margin-bottom : -220px;
	margin-top : 500px;
	padding-top : 5px;
	padding-left : 10px;
	padding-right : 5px;
	padding-bottom : 5px;
	
}

#btn_antec {
	margin-top : 10px;
	margin-left : 475px;
}

#div-btn {
	position : relative;
	margin-top : 500px;
	top : 190px;
	margin-left : 295px;
	margin-bottom : 50px;
	padding-right : 10px;
	padding-bottom : 10px;
	padding-left : 10px;
	padding-top : 10px;
}

#lbl3-1 {
	background-color : green;
	position : absolute;
	margin-top : 500px;
	top : 1243px;
}

#lbl3-2 {
	font-weight : bold;
	font-style : italic;
	display : block;
	width : 194px;
	padding-right : 4px;
	position : absolute;
	margin-top : 500px;
	top : 1802px;
	margin-left : 4px;
	left : -4px;
}


#div3-00 {
	position : absolute;
	display : block;
	padding-top : -400px;
	margin-top : 500px;
	top : -468px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-01 {
	position : absolute;
	width : 204px;
	padding-top : -400px;
	margin-top : 500px;
	top : -434px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-02 {
	position : absolute;
	display : block;
	padding-top : -400px;
	margin-top : 500px;
	top : -400px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-03 {
	position : absolute;
	display : block;
	padding-top : -400px;
	margin-top : 500px;
	top : -366px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-04 {
	position : absolute;
	display : block;
	padding-top : -400px;
	margin-top : 500px;
	top : -332px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-05 {
	position : absolute;
	display : block;
	padding-top : -400px;
	margin-top : 500px;
	top : -298px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-06 {
	position : absolute;
	padding-top : -400px;
	width : 262px;
	margin-top : 500px;
	top : -264px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-07 {
	position : absolute;
	display : block;
	padding-top : -400px;
	margin-top : 500px;
	top : -230px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-08 {
	position : absolute;
	display : block;
	width : 200px;
	padding-top : -400px;
	margin-top : 500px;
	top : -196px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-09 {
	position : absolute;
	display : block;
	width : 252px;
	padding-top : -400px;
	margin-top : 500px;
	top : -162px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-010 {
	position : absolute;
	display : block;
	padding-top : -400px;
	margin-top : 500px;
	top : -128px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-011 {
	position : absolute;
	display : block;
	padding-top : -400px;
	margin-top : 500px;
	top : -94px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-012 {
	position : absolute;
	display : block;
	padding-top : -400px;
	margin-top : 500px;
	top : -60px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-013 {
	position : absolute;
	display : block;
	padding-top : -400px;
	margin-top : 500px;
	top : -26px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-014 {
	position : absolute;
	display : block;
	padding-top : -400px;
	margin-top : 500px;
	top : 8px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}	
	
#div3-015 {
	position : absolute;
	display : block;
	padding-top : -400px;
	margin-top : 500px;
	top : 42px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-1 {
	position : absolute;
	display : inline;
	padding-top : -400px;
	margin-top : 500px;
	top : 1065px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	margin-left : 0px;
}

#div3-2 {
	position : absolute;
	display : inline;
	padding-top : -400px;
	top : 13500px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : -5px;
}
#div3-3 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1300px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}


#div3-4 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1334px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}


#div3-5 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1362px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-6 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1396px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-7 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1430px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-8 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1463px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}


#div3-9 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1495px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-10 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1529px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-11 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1563px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-12 {
	position : absolute;
	display : inline;
	padding-top : -400px;
	top : 1596px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-13 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1630px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-14 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1664px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-15 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1698px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}


#div3-16 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1732px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-17 {
	position : absolute;
	display : block;
	padding-top : -400px;
	top : 1765px;
	margin-top : 500px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

/* Div de Antecedentes Familiares */
#div3-38 {	
	position : absolute;
	margin-top : 500px;
	top : 1113px;
}

/* Div de Antecedentes Personales */
#div3-39 {
	position : absolute;
	margin-top : 500px;
	top : -1188px;
	margin-left : 500px;
	left : 10px;
}

#div3-20 {
	position : absolute;
	display : block;
	width : 173px;
	margin-top : 500px;
	top : 1826px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-21 {
	position : absolute;
	margin-top : 500px;
	width : 158px;
	top : 1860px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-22 {
	position : absolute;
	margin-top : 500px;
	width : 145px;
	top : 1894px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-23 {
	position : absolute;
	margin-top : 500px;
	width : 145px;
	top : 1928px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-24 {
	position : absolute;
	margin-top : 500px;
	width : 145px;
	top : 1962px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-25 {
	position : absolute;
	margin-top : 500px;
	width : 187px;
	top : 1996px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-26 {
	position : absolute;
	display : inline;
	margin-top : 500px;
	width : 262px;
	top : 2030px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-27 {
	position : absolute;
	margin-top : 500px;
	width : 262px;
	top : 2064px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-28 {	
	position : absolute;
	margin-top : 500px;
	width : 172px;
	top : 2098px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	display : inline;
}

#div3-29 {
	position : absolute;
	margin-top : 500px;
	width : 212px;
	top : 2132px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-30 {
	position : absolute;
	margin-top : 500px;
	top : 2166px;
	width : 171px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-31 {
	position : absolute;
	margin-top : 500px;
	width : 253px;
	top : 2200px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-32 {
	position : absolute;
	margin-top : 500px;
	top : 2234px;
	width : 179px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-33 {
	position : absolute;
	margin-top : 500px;
	width : 200px;
	top : 2268px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-34 {
	position : absolute;
	margin-top : 500px;
	width : 200px;
	top : 2300px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-35 {
	position : absolute;
	margin-top : 500px;
	width : 146px;
	top : 2334px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-36 {
	position : absolute;
	margin-top : 500px;
	width : 154px;
	top : 2368px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div3-37 {
	position : absolute;
	margin-top : 500px;
	width : 96px;
	top : 2402px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div4-21 {
	position : relative;
	margin-top : 500px;
	top : -140px;
	margin-bottom : -275px;
}

#lbl4-1 {
	display : inline;
	padding-left : 10px;
}

#lbl4-2 {
	display : inline;
	padding-left : 10px;
}

#lbl4-3 {
	display : inline;
	padding-left : 10px;
}

#lbl4-4 {
	display : inline;
	padding-left : 10px;
}

#lbl4-5 {
	display : inline;
	padding-left : 10px;
}

#lbl4-6 {
	display : inline;
	padding-left : 10px;
}

#lbl4-7 {
	padding-right : 4px;
	display : inline;
	padding-left : 10px;
}

#lbl4-8 {
	display : inline;
	padding-left : 10px;
}

#lbl4-9 {
	display : inline;
	padding-left : 10px;
}

#lbl4-10 {
	display : inline;
	padding-left : 10px;
}

#lbl4-11 {
	display : inline;
	padding-left : 10px;
}

#lbl4-12 {	
	display : inline;
	padding-left : 10px;
}

#lbl4-13 {
	display : inline;
	padding-left : 10px;
}

#lbl4-14 {
	display : inline;
	padding-left : 10px;
}

#lbl4-15 {
	display : inline;
	padding-left : 10px;
}

#lbl4-16 {
	display : inline;
	padding-left : 10px;
}

#lbl4-17 {
	display : inline;
	padding-left : 10px;
}

#lbl4-18 {
	display : inline;
	padding-left : 10px;
}

#lbl4-19 {
	display : inline;
	padding-left : 10px;
}

#lbl4-20 {
	display : inline;
	padding-left : 10px;
}

#lbl4-01 {
	font-weight : bold;
	font-style : italic;
}

#lbl4-02 {
	font-weight : bold;
	font-style : italic;
}

#div4-41 {
	position : absolute;
	margin-top : 500px;
	top : 2515px;
	
}

#div4-38 {
	position : absolute;
	margin-top : 500px;
	top : 2515px;
	margin-left : 500px;
	left : 50px;
}

/* */

#div5-1 {
	position : absolute;
	display : inline;
	margin-top : 500px;
	top : 2972px;
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div5-3 {
	position : absolute;
	margin-bottom : 500px;
	margin-top : 500px;
	top : 3020px;	
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div5-4 {
	display : inline;
	position : absolute;
	margin-bottom : 500px;
	margin-top : 500px;
	top : 3068px;	
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div5-5 {
	display : inline;
	position : absolute;
	margin-bottom : 500px;
	margin-top : 500px;
	top : 3124px;	
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div5-6 {
	display : inline;
	position : absolute;
	margin-bottom : 500px;
	margin-top : 500px;
	top : 3172px;	
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div5-7 {
	display : inline;
	position : absolute;
	margin-bottom : 500px;
	margin-top : 500px;
	top : 3220px;	
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div5-8 {
	display : inline;
	position : absolute;
	margin-bottom : 500px;
	margin-top : 500px;
	top : 3268px;	
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div5-9 {
	display : inline;
	position : absolute;
	margin-bottom : 500px;
	margin-top : 500px;
	top : 3316px;	
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div5-10 {
	display : inline;
	position : absolute;
	margin-top : 500px;
	top : 3364px;	
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div5-11 {
	display : inline;
	position : absolute;
	margin-top : 500px;
	top : 3412px;	
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div5-12 {
	display : inline;
	position : absolute;
	margin-top : 500px;
	top : 3460px;	
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div5-13 {
	display : inline;
	position : absolute;
	margin-top : 500px;
	top : 3508px;	
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

#div5-14 {
	display : inline;
	position : absolute;
	margin-top : 500px;
	top : 3556px;	
	padding-left : 10px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}

h2 {
	 margin-top : 0px;
}

#Buscar_PacientDiv{
	margin-top : -142px;
	margin-left : -2px;
}



#div5-15 {
	position : relative;
	padding-top : 5px;
	padding-left : 5px;
	padding-right : 5px;
	padding-bottom : 3px;
	margin-top : 500px;
	top : 135px;
	margin-left : 500px;
	margin-bottom : 2px;
}
/* Fin de antecedentes sexuales */

/* Inicio de "Elementos que incorpora sus prácticas sexuales*/
#div6-1 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	top : 3714px;
	margin-top : 500px;
	
}

#div6-2 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 3762px;
	
}

#div6-3 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 3810px;
}

#div6-4 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 3858px;
}

#div6-5 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 3906px;
}

#div6-6 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 3954px;
}

#div6-7 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4002px;
}

#div6-8 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4052px;	
}

#div6-9 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4102px;
}

#div6-10 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4152px;
}

#div6-11 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4202px;
}

#div6-12 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4252px;
}


#div6-13 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4302px;
}

#div6-14 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4352px;
}

#div6-15 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4402px;
}

#div6-16 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4452px;
}

#div6-17 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4502px;
}

#div6-18 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4552px;
}

#div6-19 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4602px;
}

#div6-20 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4652px;
}

#div6-21 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4702px;
}

#div6-22 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4752px;
}

#div6-23 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4802px;
}

#div6-24 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4852px;
}

#div6-25 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4902px;
}

#div6-26 {
	position : absolute;
	padding-right : 5px;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
	margin-top : 500px;
	top : 4952px;
}

#div6-27 {
	position : absolute;
	margin-top : 500px;
	top : 5002px;
	margin-bottom : 2px;
	margin-left : 500px;

}

/* Fin Sección 6*/

/* fin */

#separate-div {
	margin-top : 1500px;
}